# Folders:
/dist
/installers/linux_installer

# Lists:
/installers/win64/**
/installers/linux64/**

# Except:
!/installers/LinuxInstaller.hx
!/installers/win64/install.bat
!/installers/win64/multirun.exe
!/installers/win64/uninstall.bat
!/installers/linux64/multirun
!/installers/linux64/multirun-linux64.tar.xz
